<% provide(:title, "Contact") %>
<div class="content contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="gmap">
          <!-- Google Maps embed code -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d990.0069740768007!2d110.48209699999998!3d-7.005998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e708d045753e167%3A0x1344516d794864dd!2sPT+Keruyuk+Media+Utama!5e0!3m2!1sen!2sid!4v1424159255316" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="bor"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="cwell">
              <h4 class="title">Contact Form</h4>
              <%= form_tag(send_mail_path) do %>
              <div class="form-group">
                  <%= label_tag 'name', 'Name' %>
                  <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Name' %>
              </div>
              <div class="form-group">
                 <%= label_tag 'email', 'Email' %>
                 <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Your Email Address' %>
             </div>
             <div class="form-group">
                 <%= label_tag 'comments', 'Comments' %>
                 <%= text_area_tag 'comments', nil, class: 'form-control', rows: 4, placeholder: 'Comments...' %>
             </div>
             <%= recaptcha_tags %><br>
             <%= submit_tag nil, value: "Send", class: 'btn btn-default' %>
             <button type="reset" class="btn btn-default">Reset</button>
              <% end %>
              <hr />
            </div>
          </div>
          <div class="col-md-6">
            <div class="cwell">
              <h4 class="title">Address</h4>
              <div class="address">
                <address>
                  <strong>PT Keruyuk Media Utama</strong><br>
                  Graha Rias Yenny Lt. 2<br>
                  Jl. Arya Mukti Barat no. 558<br>
                  Semarang 50196<br>
                  <abbr title="Phone">P:</abbr> (024) 671-0986.
                </address>
                <address>
                  <strong>Sales Dept.</strong><br>
                  <a href="mailto:#">sales@keruyuk.co.id</a>
                </address>
                <strong>Get in touch:</strong>
                <div class="social">
                  <a href="https://www.facebook.com/keruyuk"><i class="fa fa-facebook facebook"></i></a>
                  <a href="https://plus.google.com/101837163689193226753"><i class="fa fa-google-plus google-plus"></i></a>
                  <a href="https://twitter.com/KeruyukMedia"><i class="fa fa-twitter twitter"></i></a>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>