<div class="parallax-slider">
  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <div class="slide-details">
        <h2><span>Clean</span></h2>
        <p>Desain kami sangatlah rapi dan up-to-date terhadap tren masa kini.</p>
        <div class="da-img"><%= image_tag("img/parallax/1.png", alt: "image01") %></div>
      </div>
    </div>
    <div class="da-slide">
      <h2><span>Tenaga Proffesional</span></h2>
      <p>Dengan sumber daya manusia berpengalaman dan proffesional di bidangnya.</p>
      <div class="da-img"><%= image_tag("img/parallax/2.png", alt: "image02") %></div>
    </div>
    <div class="da-slide">
      <h2><span>Portability</span></h2>
      <p>Mobile application dan Web adalah salah satu expertise kita, memungkinkan anda mengakomodir pelanggan dari manapun.</p>
      <div class="da-img"><%= image_tag("img/parallax/3.png", alt: "image03") %></div>
    </div>
    <div class="da-slide">
      <h2><span>Quality Control</span></h2>
      <p>Kualitas yang kami jamin dan didukung oleh para after-sales service kami yang sangat responsif.</p>
      <div class="da-img"><%= image_tag("img/parallax/4.png", alt: "image04") %></div>
    </div>
    <nav class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>
    </nav>
  </div>
</div>
<div class="sep"></div>
<div class="slider-features">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="onethree">
          <div class="onethree-left">
            <div class="img"><i class="fa fa-cloud"></i></div>
          </div>
          <div class="onethree-right">
            <h5>Cloud technology</h5>
            <p class="meta">Era cloud sudah hadir di depan mata, upgrade sistem anda ke era server less dan zero maintenance.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="onethree">
          <div class="onethree-left">
            <div class="img"><i class="fa fa-line-chart"></i></div>
          </div>
          <div class="onethree-right">
            <h5>Berkembang bersama</h5>
            <p class="meta">Kembangkan bisnis anda, raih target baru secara eksponensial terhadap penjualan anda.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="onethree">
          <div class="onethree-left">
            <div class="img"><i class="fa fa-home"></i></div>
          </div>
          <div class="onethree-right">
            <h5>Kendalikan dari rumah</h5>
            <p class="meta">Kendalikan usaha anda dari rumah, tidak perlu lagi anda ke kantor, cukup dalam genggaman anda.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="service-two">
    <div class="row">
      <div class="col-md-12">
        <h4 class="title">Service</h4>
      </div>
      <div class="col-md-3 col-sm-3">
        <h5>Kepuasan pelanggan adalah prioritas kami.</h5>
        <p>Kami selalu berfokus kepada pelanggan kami, untuk kami andalah yang nomor satu. <%= link_to "Hubungi kami sekarang juga",   contact_path %></p>
      </div>
      <div class="col-md-3 col-sm-3">
        <h5><i class="fa fa-stethoscope"></i> Free consultation</h5>
        <p>Konsultasikan kendala yang dialami perusahaan anda dan akan kami bantu memecahkan solusinya bersama.</p>
      </div>
      <div class="col-md-3 col-sm-3">
        <h5><i class="fa fa-users"></i> Efisiensi sumber daya</h5>
        <p>Tingkatkan margin perusahaan anda dengan mengefisiensikan sumber daya yang anda.</p>
      </div>
      <div class="col-md-3 col-sm-3">
        <h5><i class="fa fa-usd"></i> Terjangkau</h5>
        <p>Harga yang kami tawarkan sangatlah terjangkau dibanding kompetitor kami, buktikan sendiri.</p>
      </div>
    </div>
  </div>
  <hr />
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="clients">
        <%= image_tag("img/clients/1.png", alt: "", class: "img-responsive") %>
        <%= image_tag("img/clients/2.png", alt: "", class: "img-responsive") %>
        <%= image_tag("img/clients/3.png", alt: "", class: "img-responsive") %>
        <%= image_tag("img/clients/4.png", alt: "", class: "img-responsive") %>
        <%= image_tag("img/clients/5.png", alt: "", class: "img-responsive") %>
        <%= image_tag("img/clients/6.png", alt: "", class: "img-responsive") %>
      </div>
    </div>
  </div>
</div>